.main_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #c8c8d8;
  /* border: 2px solid green; */
}
.fetching_images {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.images_card {
  /* border: 3px solid blue; */
  max-width: max-content;
  max-height: min-content;
}
.images_styles {
  width: 250px;
  border-radius: 20px;
}
.styles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.photos {
  /* border: 1px solid red; */
  background-color: #c8c8d8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}
